@import "tailwindcss";

body {
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
  @apply bg-stone-100 dark:bg-neutral-900 text-stone-950 dark:text-stone-50;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

.font-serif{
  font-family: "Lora", serif;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.animate-overlayShow {
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-contentShow {
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
